.coaching_themen {
  padding-block: var(--padding-xl) var(--padding-xxl);
  background: url(/img/leistungen_magnet_bg_blur.png) no-repeat;
  background-size: contain;
  background-position: top -20px right 10%;
  position: relative;
  z-index: 2;
}
.coaching_themen .header_gradient h2 {
  max-width: 24ch;
}

.coaching_themen .coaching_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--padding-s);
}

.coaching_grid article {
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-top: 1.25px solid rgba(69, 70, 93, 1);
}
