@media only screen and (min-width: 1600px) {
  .home_header .home_header_content h1 {
    font-size: clamp(5rem, 3.5714rem + 7.1429vw, 10rem);
  }
  .home_header .home_header_content p {
    font-size: var(--font-size-l);
  }
}

@media only screen and (max-width: 1100px) {
  .home_header {
    background-position: bottom 20vh center, center bottom, center bottom -220px;
    background-size: cover, 142%, contain;
  }
  .home_hero_bg_wrapper img {
    min-width: 140%;
    margin-left: -20%;
    margin-bottom: 10vh;
  }
  .home_grid .container article {
    padding: 32px;
  }
  .item1 .right svg {
    width: 40%;
  }
  .home_grid .container .item5 h2 {
    font-size: 28px;
  }
  .row div:first-of-type {
    display: none;
  }

  .row .last {
    display: none;
  }
  .grid .row div {
    width: unset;
    width: 480px;
  }

  .min_width {
    min-width: unset;
  }
  .ai_grid div {
    padding: 32px;
  }
}

@media only screen and (max-width: 820px) {
  .home_header_btns {
    flex-direction: column;
    gap: 12px;
  }
  .btn_gradient_bg {
    width: max-content;
    margin-inline: auto;
  }
  .btn_gradient {
    height: 50px;
  }
  .btn_dark {
    width: 220px;
  }
  .home_header h1 {
    font-size: 90px;
  }
  .home_header_content p {
    font-size: 20px;
  }
  .home_grid .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }
  .home_grid .container .item1 {
    grid-column: auto;
  }
  .home_grid .container .item2 {
    grid-column: auto;
    background-size: cover, cover;
  }
  .home_grid .container .item3 {
    grid-column: auto;
  }
  .home_grid .container .item4 {
    grid-column: auto;
  }
  .home_grid .container .item5 {
    grid-column: auto;
    background-size: cover;
  }
  .row div {
    display: none;
  }
  .wallgrid .container {
    padding-inline: unset;
  }
  .wallgrid .grid {
    background-position: center;
  }
  .grid .row .min_width {
    display: flex;
    width: 100%;
  }
  .grid .row:nth-of-type(3) div:nth-of-type(2) {
    display: none;
  }
  .grid .row {
    padding-inline: 22.5px;
  }
  .grid .row:nth-of-type(odd) {
    padding-inline: 0;
  }
  .grid .row:nth-of-type(3n + 1) {
    padding-inline: 45px 0px;
  }
  .ai_header {
    display: flex;
    flex-direction: column-reverse;
    background: url(/img/home_ai_bg.svg) no-repeat;
    background-size: 70%;
    background-position: center -90px;
  }

  .ai_animation {
    min-height: 460px;
    width: 100%;
    background: unset;
  }
  .ai_header article {
    padding-top: 60px;
    align-items: center;
    text-align: center;
  }
  .ai_animation img {
    max-width: 12%;
  }
  .ai_animation img:nth-of-type(even) {
    max-width: 7%;
  }
  .ai_animation img:first-of-type {
    left: 14%;
    bottom: 28%;
  }
  .ai_animation img:nth-of-type(2) {
    left: 29%;
    bottom: unset;
    top: 20%;
  }
  .ai_animation img:nth-of-type(3) {
    top: 2%;
  }
  .ai_animation img:nth-of-type(4) {
    top: 28%;
    right: 24%;
  }
  .ai_animation img:nth-of-type(5) {
    bottom: 20%;
    right: 21%;
  }
  .ai_animation img:nth-of-type(6) {
    bottom: 5%;
    left: 39%;
  }
  .ai_grid {
    display: flex;
    flex-direction: column;
  }
  .wallgrid .grid .tres {
    padding-inline: 0;
  }
  .wallgrid .grid .tres .min_width {
    padding-left: 90px;
  }
}

@media only screen and (max-width: 553px) {
  .home_header {
    background-position: bottom 20vh center, center bottom 100px,
      center bottom -50vh;
    background-size: cover, 192%, cover;
  }
  .home_header h1 {
    font-size: 60px;
  }
  .home_header_content p {
    font-size: 16px;
  }
  .home_hero_bg_wrapper img {
    min-width: 180%;
    margin-left: -40%;
    margin-bottom: 10vh;
  }
  .home_grid .container article {
    padding: 24px;
  }
  .home_grid .container .item1 {
    display: flex;
    flex-direction: column-reverse;
    background: url(/img/home_grid_mobile_bg.svg),
      linear-gradient(360deg, #1a1b27 0%, rgba(26, 27, 39, 0.4) 100%) no-repeat;
    background-position: top, bottom;
    background-size: 100%, cover;
    background-repeat: no-repeat;
  }

  .item1 .right {
    position: relative;
    min-height: 260px;
    width: 100%;
  }
  .item1 .left {
    max-width: unset;
  }
  .item1 .left p {
    margin-bottom: 24px;
  }
  .home_grid .container article h2 {
    font-size: 24px;
    width: unset;
  }
  .item2 h2 .tree_counter {
    font-size: 56px;
  }
  .item2 h2 span {
    font-size: 16px;
  }
  .home_grid .container .item2 {
    min-height: unset;
  }
  .home_grid .container .item3 {
    position: relative;
    padding-top: 160px;
    min-height: unset;
    gap: 74px;
  }
  .item3 img {
    position: absolute;
    top: 24px;
    left: 24px;
  }
  .home_grid .container .item4 {
    background: url(/img/home_grid_mobile_bg.svg),
      linear-gradient(360deg, #1a1b27 0%, rgba(26, 27, 39, 0.4) 100%);
    background-position: top;
    background-size: 100%, cover;
    background-repeat: no-repeat;
  }
  .item4 .svg_wrapper {
    display: flex;
    justify-content: center;
    margin-block: 60px;
  }
  .item4 .content div {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--padding-xs);
    margin-top: 16px;
  }
  .item4 .btn {
    padding: 14px 24px;
    font-size: 18px;
  }
  .home_grid .container .item5 {
    min-height: unset;
    padding-block: 48px;
  }
  .home_grid .container .item5 h2 {
    font-size: 24px;
  }
  .item5 .btn {
    font-size: 18px;
  }

  .grid .shadow_effect {
    display: none;
  }
  .grid .row div {
    min-height: 240px;
  }
  .wallgrid .bg_wrapper .header_gradient h2 {
    max-width: unset;
    font-size: 32px;
    padding-inline: 6%;
  }
  .wallgrid .bg_wrapper {
    background-size: 160%;
  }
  .grid .row .min_width img {
    height: 32px;
  }
  .ai_header {
    background-size: 100%;
    background-position: center top;
  }
  .ai_animation img:first-of-type {
    left: 10%;
  }
  .ai_animation img:nth-of-type(2) {
    left: 20%;
  }
  .ai_animation img:nth-of-type(4) {
    right: 18%;
  }
  .ai_animation img:nth-of-type(5) {
    right: 12%;
  }
  .ai_header h2 {
    font-size: 40px;
  }
  .ai_p {
    max-width: 34ch;
    font-size: 16px;
  }
  .ai_header .btn_white_gradient {
    font-size: 18px;
    padding: 14px 24px;
  }
  .ai_grid div h3 {
    font-size: 24px;
    width: unset;
  }
  .ai_grid div {
    padding: 24px;
    min-height: unset;
  }
  .ai_grid .box2 svg {
    margin-block: -60px -90px;
  }

  .ai_grid .box3 {
    min-height: unset;
    padding-top: 160px;
    background-position: center, top 110% right 60%;
    background-size: cover, 210%;
  }
  .ai_grid .box3 img:first-of-type {
    width: 50%;
    top: -10px;
  }
  .ai_grid .box3 img:last-of-type {
    width: 20%;
    top: 40px;
    right: 60%;
  }
  .btn_gradient {
    width: 265px;
  }
  .btn_dark {
    width: 220px;
  }
  .wallgrid .grid .tres .min_width {
    padding-left: 65px;
  }
}
