.leistungen_header {
  display: flex;
  background: url("/img/leistungen_hero_bg.png");
  background-size: cover;
  background-position: bottom -50vh center, bottom -50vh center, center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity 0.5s ease;
  opacity: 1;
  animation: ls-header-bg 2s linear forwards;
  position: relative;
  z-index: 2;
}

@keyframes ls-header-bg {
  0% {
    background: url("/img/leistungen_hero_bg.png");
    background-size: cover;
    background-position: bottom -50vh center, bottom -50vh center, center;
    background-repeat: no-repeat;
  }
  20% {
    background: url("/img/leistungen_hero_elipse_big.png"),
      url("/img/leistungen_hero_elipse_small.png"),
      url("/img/leistungen_hero_bg.png");
    background-size: cover;
    background-position: bottom -50vh center, bottom -50vh center, center;
    background-repeat: no-repeat;
  }
  80% {
    background: url("/img/leistungen_hero_elipse_big.png"),
      url("/img/leistungen_hero_elipse_small.png"),
      url("/img/leistungen_hero_bg.png");
    background-size: cover;
    background-position: bottom -28vh center, bottom -28vh center, center;
    background-repeat: no-repeat;
  }
  100% {
    background: url("/img/leistungen_hero_elipse_big.png"),
      url("/img/leistungen_hero_elipse_small.png"),
      url("/img/leistungen_hero_bg.png");
    background-size: cover;
    background-position: bottom -28vh center, bottom -28vh center, center;
    background-repeat: no-repeat;
  }
}

.section.out-of-viewport {
  opacity: 0.2; /* Adjust the opacity value as needed */
}

.height_regulator {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.leistungen_header_content {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 8%;
  animation: ls-header-content 2.2s ease-in forwards;
}

@keyframes ls-header-content {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.leistungen_header h1 {
  font-size: var(--font-size-xxl);
  text-align: center;
  font-weight: 500;
  line-height: 110%;
  max-width: 23ch;
  color: var(--heading-color);
}

.leistungen_header .btn_gradient_bg {
  background: linear-gradient(
    270deg,
    rgba(128, 141, 255, 0.2) 0%,
    rgba(144, 255, 202, 0.2) 100%
  );
  border-radius: 100px;
  padding: 8px;
}

.leistungen_header .btn_gradient {
  background: url("/img/Button-Shine.png"), var(--heading-color);
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 100px;
  color: var(--main-bg-color);
  font-weight: 600;
  font-size: var(--font-size-s);
  height: 64px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprungbtn_wrapper {
  display: flex;
  align-items: center;
  gap: var(--padding-s);
  margin-bottom: -15px;
}

.sprungbtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px var(--padding-s);
  background-color: rgba(7, 8, 16, 0.01);
  border-radius: 100px;
  border: solid 1px rgba(255, 255, 255, 0.11);
  font-weight: 500;
  font-size: var(--font-size-xs);
  color: var(--text-color);
  cursor: pointer;
}

.header_bg_gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(transparent, var(--main-bg-color));
  z-index: 0;
}
