.leistungen_magnet {
  margin-top: var(--padding-m);
  padding-block: var(--padding-m) var(--padding-xxl);
  background: url("/img/leistungen_magnet_bg_blur.png") no-repeat;
  background-size: contain;
  background-position: top -20px right 10%;
}

.gradient_opacity_wrapper {
  position: relative;
  border-radius: var(--padding-s);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.gradient_opacity_wrapper div {
  background: var(--accent-color-gradient);
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  border-radius: var(--padding-s);
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: 0.2;
  /* z-index: -1; */
}

.gradient_opacity_wrapper p {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 110%;
  padding: 7px 16px 9px 16px;
  position: relative;
}

.leistungen_magnet .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: var(--padding-s);
}

.leistungen_magnet .content article {
  /* background-color: var(--darker-bg-color); */
  border: 1.25px solid rgba(255, 255, 255, 0.05);
  border-radius: var(--padding-s);
  padding: var(--padding-xm);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--padding-s);
}

.leistungen_magnet .content article h3 {
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: 115%;
}

.leistungen_magnet .content article p {
  line-height: 150%;
}
