.leistungen_cj {
  margin-top: var(--padding-xxl);
  padding-block: 290px var(--padding-xxl);
  background: url("/img/leistungen_customer_journey_fade.png"),
    url("/img/leistungen_magnet_bg_blur.png");
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: top 0 center, top 170px center;
}

.leistungen_cj .header_gradient h2 {
  max-width: 22ch;
}

.leistungen_cj .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: var(--padding-s);
  padding: var(--padding-s);
  background-color: var(--darker-bg-color);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.leistungen_cj .content p {
  font-size: var(--font-size-xm);
  line-height: 150%;
}
