@font-face {
  font-family: Familjen_Grotesk;
  src: url("/font/familjen_grotesk/FamiljenGrotesk-VariableFont_wght.ttf");
}

@font-face {
  font-family: Inter;
  src: url("/font/inter/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --main-font: Familjen_Grotesk;
  --text-font: Inter;
  --font-size-3xl: clamp(5rem, 3.5714rem + 7.1429vw, 10rem);
  --font-size-xxl: clamp(2.25rem, 1.4318rem + 4.0909vw, 4.5rem); /* 72px*/
  --font-size-xl: clamp(2rem, 1.6364rem + 1.8182vw, 3rem); /* 48px*/
  --font-size-l: clamp(1.25rem, 1.0466rem + 1.0169vw, 2rem); /* 32px*/
  --font-size-m: clamp(1.25rem, 1.1591rem + 0.4545vw, 1.5rem); /* 24px*/
  --font-size-xm: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem); /* 20px*/
  --font-size-s: clamp(1rem, 0.9545rem + 0.2273vw, 1.125rem); /* 18px*/
  --font-size-xs: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem); /* 16px*/
  --font-size-xxs: 14px;

  --font-size-40: clamp(1.375rem, 1.0536rem + 1.6071vw, 2.5rem); /* 40px */

  --padding-xxl: 240px;
  --padding-xl: 120px;
  --padding-l: 80px;
  --padding-m: 60px;
  --padding-xm: 48px;
  --padding-s: 40px;
  --padding-xs: 24px;
  --padding-xxs: 20px;

  --heading-color: #ffffff;
  --text-color: #8ea2bc;
  --text-gradient-color: #dbdeff;
  --text-contrast-color: #070810;

  --accent-color-1: #90ffca;
  --accent-color-2: #808dff;
  --accent-color-gradient: linear-gradient(
    90deg,
    var(--accent-color-1),
    var(--accent-color-2)
  );
  --error-color: #e64d84;

  --main-bg-color: #070810;
  --brighter-bg-color: rgba(53, 55, 74, 0.4);
  --darker-bg-color: #1a1b27;
  --btn-bg-color: #080911;
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  font-family: var(--main-font);
  color: var(--heading-color);
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
}

img,
svg {
  max-width: 100%;
}

p {
  font-family: var(--text-font);
  font-size: var(--font-size-xs);
  color: var(--text-color);
  line-height: 150%;
}

a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: var(--font-size-s);
  font-weight: 500;
}

li {
  list-style: none;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 110%;
}

h2 span {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header {
  min-height: 100svh;
}

button {
  all: unset;
  cursor: pointer;
}

.btn_reg {
  background-color: var(--heading-color);
  color: var(--text-contrast-color);
  font-size: var(--font-size-s);
  font-weight: 600;
}

.btn_white_gradient {
  background: url(/img/Button-Shine.png), var(--heading-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding: 18px var(--padding-xs);
  border-radius: 100px;
  color: var(--main-bg-color);
  font-size: var(--font-size-s);
  font-weight: 600;
  font-family: var(--main-font);
  width: max-content;
}

.container {
  max-width: calc(1280px + 12%);
  padding-inline: 6%;
  margin-inline: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  transition: all 0.3s ease;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-gradient-color);
}

/* Datenschutz/Impressum styling */

.formal_texts_wrapper {
  background: url("./img/bg_top.svg") no-repeat;
  background-position: center -1700px;
}

.formal_texts_header {
  min-height: unset;
  padding-block: var(--padding-xxl) var(--padding-l);
}

.formal_texts_header h1 {
  font-size: var(--font-size-xxl);
}

.formal_texts_main {
  padding-block: var(--padding-xl);
}

.formal_texts_main article {
  margin-bottom: var(--padding-xl);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.formal_texts_main article h2 {
  font-size: var(--font-size-l);
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(
      270deg,
      rgba(128, 141, 255, 0.2) 0%,
      rgba(144, 255, 202, 0.2) 100%
    );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 110%;
}

.formal_texts_main .impressum_h3 {
  color: var(--text-color);
  margin-bottom: 36px;
  background-clip: unset;
  -webkit-background-clip: unset;
  background: unset;
}

.formal_texts_main h3 {
  font-size: var(--font-size-xm);
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(
      270deg,
      rgba(128, 141, 255, 0.2) 0%,
      rgba(144, 255, 202, 0.2) 100%
    );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.formal_texts_main article a {
  color: var(--text-color);
  display: block;
  font-weight: 400;
  text-wrap: wrap;
  word-break: break-all;
}

.formal_texts_main article .datenschutz_a {
  display: inline-block;
  padding-inline: 4px;
  color: #90ffca;
  font-weight: 300;
}

.formal_texts_main li {
  list-style: disc;
  margin-left: 60px;
  color: var(--text-color);
}

.formal_texts_main blockquote {
  color: var(--text-color);
}

.formal_texts_main strong {
  font-family: var(--main-font);
  opacity: 0.9;
  padding-inline: 2px;
}

.formal_texts_main article:last-of-type a {
  display: inline-block;
  padding-left: 4px;
}

@media only screen and (max-width: 768px) {
  :root {
    --padding-xxl: 160px;
    --padding-xl: 80px;
    --padding-xs: 24px;
    --padding-xxs: 20px;
  }
}

@media only screen and (max-width: 560px) {
  :root {
    --padding-m: 60px;
    --padding-xm: 24px;
    --padding-s: 24px;
  }
}
